@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    scroll-behavior: smooth;
}

.wrapper {

    max-width: 1440px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: #0C0C0E;
    z-index: 10;
}

header h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 0.6px;
    margin: 20px 20px;
}

nav ul {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin: 0px 40px;

}

nav a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 250% */

}

nav a:visited {
    color: #fff;

}

.menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px;

    position: relative;
}

nav {

    display: flex;
    align-items: center;

}

nav li a:hover {
    cursor: pointer;
    color: #BB945F;
}


.burger_menu {
    display: none;
    width: 45px;
    height: 22px;
    position: relative;
    transition: 1s;
    margin: auto 20px;

}

.burger {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: .3s;
    top: 45%;
}

.burger_menu::after,
.burger_menu::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    transition: .3s;
    left: 0;
}

.burger_menu::before {
    top: 0;
}

.burger_menu::after {
    bottom: 0;
}

.burger.active {
    transform: scale(0);
}

.burger_menu.active::after {
    transform: rotate(45deg);
    top: 50%;
}

.burger_menu.active::before {
    top: 50%;
    transform: rotate(-45deg);
}



main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#welcome {
    width: 100%;
    height: 600px;
    background: url(../img/Welcome.png);
}

#welcome img {
    display: none;
}
#about {
    width: 100%;
    /* height: 837px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    flex-shrink: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-title h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.section-title hr {
    background: #0C0C0E;
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    margin-top: 20px;
}



#about h4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-top: 20px;
    /* 200% */
}

.image_about {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 25px;
    /* flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    margin-bottom: 40px ; */
}

.abot_sm {
    display: none;
}

.image_about img {
    width: 32%;

    height: 100%;
    object-fit: cover;

}

#about svg {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    /* margin: 20px 0; */
    margin: 0 -2px;
}

.button_about {
    margin: 15px 0;
}

.button_about svg:hover {
    cursor: pointer;
}

#favorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 18px;
}

.pick {
    margin: 20px 0 0 20px;
}

.pick p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pick span {
    letter-spacing: 0.3px;
}

.seasons {
    width: 100%;
    height: 24px;
    flex-shrink: 0;
    margin: 40px 0;
    padding-left: 20px;
    display: flex;
}

.check_seasons {
    margin-right: 93px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.check_seasons input {
    appearance: none;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    border: 2px solid #000;
    border-radius: 50%;
}

.check_seasons input:checked {
    background-color: #000;
    background-clip: content-box;
    padding: 3px;
}

.check_seasons label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 20px;
}

.check_seasons p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.books {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 20px;
    justify-content: space-between;
}

.book {
    margin: 0 50px 40px 0;
    max-width: 550px;
    width: 100%;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    position: relative;
}

.book p {
    margin: 20px 0 60px 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 65%;
    text-align: start;
}


.staff_pick {
    height: 38px;
    flex-shrink: 0;
    margin: 15px 20px;
}

.staff_pick h4 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.staff_pick hr {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}

.book h5 {
    margin: 20px 0px 0 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 266.667% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book h6 {
    margin: 0px 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}



.book button {
    position: absolute;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    bottom: 14px;
    left: 19px;
    background-color: #fff;
}

.book button {
    transition: 0.3s;
}

.book button:active {
    background-color: #BB945F;
    transform: scale(1.1);
}

.own button {
    border: 1px solid #BB945F;
    color: #BB945F;
    transition: none;
}

.own button:active {
    background-color: #FFF;
    transform: none;

}

.book img {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    bottom: -1px;
    right: -40px;
}

#coffe_shop {
    display: flex;
    /* width: 1440px; */
    width: 100%;
    padding: 0px 20px 40px 20px;
    flex-direction: column;
    align-items: center;

}

#coffe_shop>p {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
}

.menu {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 40px; */
}

.menu h5 {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu li {
    display: flex;
    margin-top: 40px;
    align-items: center;
    gap: 60px;
}

.menu li p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu li :nth-child(3) {
    color: #000;
    font-family: Forum;
}

.menu hr {
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.coffee_tea {
    /* display: inline-flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.coffee_tea h6 {
    width: 200px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.desserts_cakes {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.desserts_cakes ul {
    display: flex;
    width: 482px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.desserts_cakes li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#contacts {
    display: flex;
    width: 100%;
    padding: 0px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.contact_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* gap: 199px; */
    width: 100%;
}

.contact_info img {
    width: 50%;
    height: 414px;
    object-fit: cover;
}

.contact {
    width: 50%;
}

.contact h5 {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.phone_info {
    margin-top: 40px;
    width: 100%;

    flex-shrink: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.phone_info a {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.senior_staff {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    gap: 20px;
}

.senior_staff p {
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.senior_staff a {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

#LibraryCard {
    width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.get_card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 20px;
    position: relative;
    max-width: 456px;
    width: 100%;
    height: 253px;
    flex-shrink: 0;
}

.get_card h6 {
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.find_card {
    max-width: 600px;
    width: 100%;
    height: 453px;
    flex-shrink: 0;
    margin: 0 20px;
}

.find_card h5 {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 2.4px;
    text-align: center;
    margin-top: 13px;
}

.check_card {
    width: 100%;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    padding: 18px 18px;
}



.find_card form {
    /* width: 100%; */
    flex-shrink: 0;
}

.check_card p {
    display: block;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: 0.6px;
    width: 100%;
    margin: 20px 0 20px 20px;


}

.find_card form {
    padding: 0 20px;
}

.find_card input {
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-bottom: 25px;
    font-size: 30px;
    padding: 0 20px;
    font-family: Forum;
}

.find_card button {
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    display: inline-flex;
    padding: 9px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: 0.3s;
    margin: 20px 20px;
}

.form_card {
    width: 100%;
    background: #BB945F;

}

.cards button:active {
    background-color: #BB945F;
    transform: scale(1.1);
}

.get_card p {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 200% */
    letter-spacing: 0.4px;
    margin-top: 36px;
}

.bit_card {
    display: flex;
    position: absolute;
    bottom: 0;
}

.get_card button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    margin-left: 20px;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 100%;
    background: #0C0C0E;
    margin-top: 60px;
    padding: 0 20px;
}



.footer_info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    width: 100%;
}

.footer_info a {
    /* max-width: 229px; */
    width: 50%;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
}

.footer_info p {

    width: 50%;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
}

.footer_info :nth-child(2) {
    text-align: end;
}

.icon_footer svg {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.footer_info1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 133.333% */
    margin-top: 10px;
}

footer hr {
    width: 100%;
    height: 1px;
    background: #FFF;
    margin-top: 30px;

}

.footer_rss {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 44px 0;
    width: 100%;
    height: 22px;
    flex-shrink: 0;
}

.footer_rss p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 2px;
}

.footer_rss a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 100% */
    letter-spacing: 2px;
    margin-left: 90px;
}

@media (max-width: 1230px) {

    .books {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding-left: 7px;
    }

    .book {
        height: 555px;

    }
}

@media screen and (max-width: 1145px) {
    .menu_nav {
        align-self: start;
        flex-direction: column;
        position: relative;
        padding: 0;


    }

    nav {
        order: 2;
        transition: .3s all;
        width: 200px;
        position: relative;

        z-index: 2;
    }

    nav ul {
        position: absolute;
        top: -500px;
        right: 0;
        background-color: #0C0C0E;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        transition: .3s all;
        z-index: 1;
    }

    nav li {
        text-align: center;
        width: 100%;
    }

    .nav_active {
        display: block;
        overflow: visible;
        top: 0;
    }

    .burger_menu {
        display: block;
    }

    .svg_sm {
        height: 90px;
        display: flex;
        z-index: 3;
        align-items: center;
        justify-content: flex-end;
        background-color: #0C0C0E;
        width: 100%;
        gap: 20px;

    }



    .desserts_cakes {
        width: 100%;
        margin-top: 40px;
    }

    .cards {
        justify-content: center;
    }

    .get_card {
        max-width: 600px;
        margin-top: 40px;
        align-items: center;
        height: 223px;

    }

    .get_card p {
        text-align: center;
    }

    .contact_info {
        display: flex;
        flex-direction: column;
    }

    .contact {
        width: 100%;
    }

    .contact_info img {
        width: 100%;
        margin-top: 100px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    #welcome {
        background: none;
        height: 100%;

    }
#welcome img {
    display: block;
    width: 100%;
    object-fit: cover;
    
}
    #about {
        padding: 0 20px;
        height: 100%;
    }

    .abot_sm {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 45px;
        padding-top: 20px;
        margin-bottom: 5px;
    }

    .abot_sm img {
        /* margin: 0 40px; */
        max-width: 450px;
        width: 80%;
    }


    .image_about {
        display: none;
    }

    .get_card {
        margin-bottom: 0;
    }

    footer {
        height: 250px;
        margin-top: 40px;
    }

    .footer_rss a {
        margin-left: 0;
    }

}

@media screen and (max-width: 730px) {
    .seasons {
        margin: 40px auto;
        max-width: 350px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .check_seasons {
        margin-right: 20px;
    }

    .book {
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    nav {
        width: 150px;
    }

    .book {
        max-width: 350px;
        margin-left: 5px;
    }

    .book p {
        width: 100%;
        padding-right: 20px;
        margin-bottom: 300px;
    }



    .menu li {
        gap: 15px;
    }
.abot_sm {
    gap: 30px;
}
    .abot_sm img {
        width: 70%;
    }

    .find_card {
        max-width: 500px;
    }

    .footer_rss a {
        font-size: 16px;
    }

    .footer_rss p {
        font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
    header h1 {
        font-size: 20px;
        margin: auto 10px;
    }

    .book {
        max-width: 320px;
    }

    .menu hr {
        width: 50px;
    }

    .cards {
        margin: 20px 20px;
    }

    .senior_staff p {
        font-size: 18px;
    }

    .find_card {
        width: 100%;
    }

    .check_card p {
        font-size: 26px;
    }

    .footer_info a {
        font-size: 14px;
        width: 60%;
    }

    .footer_info p {
        font-size: 14px;
        width: 40%;
    }

    .footer_info1 {
        font-size: 14px;
    }

    .footer_rss a {
        font-size: 11px;
    }

    .footer_rss p {
        font-size: 11px;
    }

    .footer_rss {
        margin: 30px 0;
    }

}